<!DOCTYPE html>
@{
    var veznev = Request["veznev"];
    var kernev = Request["kernev"];
    var eletkor = Request["eletkor"];
    var nev = veznev + " " + kernev;
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Űrlap feldolgozás</title>
    </head>
    <body>
        <h1>Regisztrációs adatok</h1>
        <p>Név: @nev</p>
        <p>Életkor: @eletkor</p>
    </body>
</html>
